.projectBox{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, 1fr);
  /* height: 300px; */
  width: 100%;
  /* border:1px solid red; */
}

h2{
  margin-bottom: 0.4em
}

#workProjectImgBox1{
  background-image: url("../../assets/images/portfolio/lg_cloi.jpg");
  background-size: cover;
  background-position: center;
  min-height:360px;
}
#workProjectImgBox2{
  background-image: url("../../assets/images/portfolio/kb_qr.jpg");
  background-size: cover;
  background-position: center;
  min-height:360px;
}
.descriptionBox > p{
  line-height: 1.7em;
  font-size: 1.3em;
}
.workProjectImgBox{
  margin: 1em 0.5em
}
.descriptionBox{
  margin: 1em
}

.roleSubBox{
  margin-bottom: 0.7em;
}

.roleTop{
  line-height: 1.7em;
  font-size: 1.3em;
  margin-top: 1em;
}
.roleMainText{
  line-height: 1.7em;
  font-size: 1.3em;
}
.subDescription{
  font-size: 1.15em;
  color: rgba(97,97,97);
  padding: 2px 0;
  padding-left: 1em;
  line-height: 1.5em;
}

@media screen and (max-width:768px){
  .projectBox{
    display: block;
  }
  h2{
    font-size: 1.1em
  }
  .projectBox p{
    line-height: 1.5em;
    font-size: 1em;
  }
  .subDescription{
    font-size: 1.15em;
  }
}